html, body, #root, .app, .map, .info {
    height: 100%
}

body {
    overflow-y: hidden;
}

.info {
    width: 400px;
    display: inline-block;
    vertical-align: top;
}

.content {
    width: 100%;
    height: 100%;
}

.subtitle {
    margin: 16px 0px 8px 0px;
    font-size: 14px;
    font-weight: bolder;
}

.routes-subtitle {
    margin: 16px 0px 8px 16px;
    font-size: 14px;
    font-weight: bolder;
    display: block;
}

.map {
    width: calc(100% - 400px);
    display: inline-block;
}

.swap-icon {
    width: 28px !important;
    height: 28px !important;
    display: block !important;
    margin: 16px 0px 0px 0px;
    cursor: pointer;
}

.stop-input {
    position: absolute;
    top: 9px;
    right: 16px;
    z-index: 1000;
    width: 300px;
}

.stop-input .MuiOutlinedInput-root {
    background: white;
}

.progress-bar {
    position: absolute;
    top: 79px;
    right: 16px;
    z-index: 1000;
}

.route-wrapper {
    padding: 0px 16px 16px 16px;
}

.route-area-wrapper {
    overflow-y: auto;
    height: calc(100% - 200px);
}

.route-item, .route-item-selected {
    margin: 8px 0px;
    border: 1px #c4c4c4 solid;
    width: 350px;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}

.leg-item {
    margin-bottom: 8px
}

.route-item-selected {
    border: 1px #4352af solid !important;
}

.search-wrapper {
    padding: 0px 16px 16px 16px;
    border-bottom: 1px solid #c4c4c4;
}

.time-item {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #c4c4c4;
    border-radius: 40px;
}

.timetable-title {
    margin: 8px 0px 5px 0px;
    display: block;
    font-size: 14px;
    font-weight: bolder;
}

.time-upper {
    font-weight: bolder;
    padding: 0px 5px 0px 0px;
}

.empty-error-message {
    padding-left: 16px;
}